@use 'breakpoints'

header
    position: relative

    #headerDiv
        margin: 0 auto
        width: max-content
        display: grid
        grid-template-columns: min-content max-content
        column-gap: 1em
        box-sizing: border-box

        #headerTxt
            color: white
            text-align: center
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            margin-top: 1%
            margin-bottom: 3%
            display: flex
            justify-content: center
            flex-direction: column

            #headerHeader
                font-size: 36px
                width: max-content
                font-weight: bold

@media screen and (max-width: 365px)
    #headerHeader
        font-size: 25px !important
        width: min-content !important

@include breakpoints.respond-small
    header
        #headerDiv
            .headerLogo
                display: none

            #headerTxt
                width: 100%
                display: block

                #headerHeader
                    font-size: 22px

@include breakpoints.respond-medium
    header
        padding-top: 85px
        padding-bottom: 2%
        background-image: url('../img/website/ocean2.jpeg')
        background-size: cover

        #headerDiv
            display: grid

            #headerTxt
                color: white
                text-align: center

                #headerHeader
                    font-size: 36px
                    margin-left: 2%
                    margin-right: 2%
                    margin-bottom: 0px
