
/*  
 style for menu on small screen,
 html element gets appended to DOM with the
 responsive.js-file

.smallMenu
    background-color: white
    z-index: 2
    padding: 10px 15px 0 15px
    height: 75px
    width: 100%
    position: fixed
    display: none
    justify-content: space-between
    top: 0%
    border-bottom: 2px solid gray

/* 
 Div surrounding the menu icon,
 element appended to DOM with js

#menuIcon
    cursor: pointer

/* 
 Opened menu on small screens, 
 long height to cover entire page,
 element appended to DOM with js

.openMenu
    background-color: white
    overflow: auto
    height: 3000px
    width: 300px

/* elements appended to DOM with js */
.menuLink
    margin-left: 20px
    font-size: 22px
    margin-top: 12%

/*
 The bars are for menu icon on small screens,
 change class toggles on/off on click,
 elements appended to DOM with js

.bar1,
.bar2,
.bar3
    width: 35px
    height: 5px
    background-color: #333
    margin: 6px 0
    transition: 0.4s

.change .bar1
    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
    transform: rotate(-45deg) translate(-9px, 6px)

.change .bar2
    opacity: 0

.change .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-8px, -8px)

@media only screen and (max-width: 1024px)
    .linkList
        display: none

    .smallMenu
        display: flex

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr
        display: block

    /* Hide table headers (but not display: none;, for accessibility) */
    th
        position: absolute
        top: -9999px
        left: -9999px

    tr
        border: 1px solid #ccc

    td
        /* Behave  like a "row" */
        border: none
        border-bottom: 1px solid #eee
        position: relative
        padding-left: 40%
        word-wrap: break-word

    td:before
        /* Now like a table header */
        position: absolute
        /* Top/left values mimic padding */
        top: 6px
        left: 6px
        width: 45%
        padding-right: 10px
        white-space: nowrap
