<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Ayurveda"}}
    <link rel="canonical" hreflang="sv" href="{{base_address}}/about.html" />
    <link rel="alternate" hreflang="en" href="{{base_address}}/en/about.html" />
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV langLink="/en/about.html"}}
            <div id="content">

                <div>
                    <h2>Vilka är vi?</h2>
                    <p>Ayurveda Göteborg är en bifirma till Syneidos Kvalitetslitteratur. Några av våra medarbetare är:
                    </p>
                </div>

                <br>

                <div class="textImgDiv">
                    <img class="bigImg" src="/img/about/stefan.jpg" alt="Stefan Lagrosen">
                    <div class="textImgTxt" style="margin-bottom: 30px"> <!--style!-->
                        Dr Stefan Lagrosen forskar och undervisar om hälsa i arbetslivet. Han är också certifierad
                        Maharishi Ayurveda Wellnesskonsult, licensierad personlig tränare, diplomerad löpcoach och
                        certifierad lärare i Maharishi Yoga Asanas med mer än 30 års egen erfarenhet av Ayurveda. 
                        <a href="https://ayurveda-konsult.blogspot.com/" target="_blank">Följ Stefans blogg</a>
                        <br />
                        <a href="https://www.facebook.com/ayurvedastefan/" target="_blank">Följ Stefans Ayurvedasida på
                            Facebook</a>
                        <br />
                    </div>
                </div>

                <div class="textImgDiv">
                    <img class="bigImg" src="/img/about/yvonne.jpg" alt="Yvonne Lagrosen">
                    <div class="textImgTxt">
                        Dr Yvonne Lagrosen är docent i kvalitetsutveckling. Hon undervisar och forskar bland annat om
                        arbetsrelaterad
                        hälsa med koppling till kvalitetsutveckling.
                        Hon är också auktoriserad lärare i Transcendental Meditation, certifierad medvetanderådgivare,
                        Maharishi ädelstensljusterapeut och
                        Maharishi Aromaterapeut med mer än 25 års egen erfarenhet av Maharishi Ayurveda och Maharishi
                        Yoga Asanas.

                    </div>
                </div>

                <h2>Ayurveda</h2>
                <div>
                    <p>Ayurveda är världens äldsta hälsosystem. Det har bevarats i Indien i tusentals år. Och kunskapen
                        är oerhört avancerad. Exempelvis beskrev Ayurveda i detalj hur blodcirkulationen fungerar
                        tusentals år innan William Harvey gjorde samma upptäckt på 1700-talet och västerlandets
                        medicinska kunskap började utvecklas. Inom Ayurveda tar man särskilt hänsyn till att vi
                        människor är olika. Det som är bra för en människa är inte nödvändigtvis bra för en annan. Och
                        det som är bra för en människa vid ett tillfälle kan vara skadligt vid en annan tidpunkt. Därför
                        lägger man stor vikt vid att ta hänsyn till varje människas specifika konstitution och vilka
                        specifika obalanser man har. Ayurveda ser också människan som en del av naturen. Alla
                        behandlingar och terapier är därför naturliga och går ut på att skapa inre och yttre balans. Det
                        är därför Ayurveda är så oerhört effektivt.</p>
                    <p>Men intill nyligen var hälsosystemet ganska fragmenterat. Tidens långa lopp hade gjort att
                        kunskapen ha urholkats. Inte minst berodde detta på att Indien under flera århundraden har varit
                        koloniserat, först av mogulerna och sedan av britterna. De undertryckte den inhemska kunskapen.
                        Och när sedan Indien frigjordes satte man större tilltro till kolonisatörernas västerländska
                        vetenskap än sin inhemska visdom. Därför var Ayurveda inte det kompletta system som det en gång
                        varit. Man kände till olika delar till exempel att vissa örter hjälper mot vissa åkommor och att
                        vissa behandlingar var effektiva för att befrämja hälsa. Men ingen hade något grepp om helheten.
                        Så var situationen ända fram till början av 1980-talet.</p>
                    <p>Det var i det läget som Maharishi Mahesh Yogi engagerade sig i Ayurveda. Han hade i ett par
                        decennier arbetat intensivt med att sprida tekniken Transcendental Meditation, TM, över världen.
                        Han hade sett TM:s effekter i att utveckla medvetandet och vilka goda effekter det gav på
                        hälsan. Han insåg därför att grunden till hälsa ligger i medvetandet, det är därifrån som
                        helheten kan skapas. Därför förstod han att nu var tiden kommen att återuppväcka Ayurveda till
                        dess forna glans.</p>
                    <p>Han grep sig an detta projekt med full energi och fokus. Från Indiens olika hörn samlade han de
                        främsta experterna inom var och en av de olika delarna av Ayurveda. Tillsammans arbetade de
                        intensivt med sin kunskap, med sin erfarenhet och med de gamla texterna. Ur detta arbete uppstod
                        så den nyuppväckta helhetsversionen av Ayurveda; den fick namnet Maharishi Ayurveda.</p>
                    <p>Sedan dess har Maharishi Ayurveda spridits över världen och många människor har fått njuta av
                        dess effektivitet; bland annat vi själva som har använt detta hälsosystem i många år och
                        imponerats av hur välgörande det är.</p>
                    <p>De tre doshorna är centrala begrepp inom Ayurveda.
                        <a href="https://www.youtube.com/watch?v=TWgHKlfglvk" target="_blank">Se en kort introduktion
                            till dem här.</a>
                    </p>
                </div>
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>