<!DOCTYPE html>
<html lang="sv">
{{> head title="Ayurveda"}}
<body>
    <main id="main">
        {{> header}}
    <section id="mainSection">
        {{> navSV}}
        </div>
            <div id="content">
                <!-- Insert content below -->

                <h1>Våra böcker om Ayurveda/hälsa</h1>

                <h2 class="subheader">Böckerna ges ut av vårt förlag Syneidos Kvalitetslitteratur som ger ut böcker om visdom, skönhet och hälsa.</h2>

                <div class="bookSmallImgDiv">
                    <a href="bocker/Friskochvacker.html">
                        <img class="bookSmallImg" src="/img/bocker/Frisk och vacker.jpg" alt="Frisk och vacker efter 40 med Maharishi Ayurveda">
                    </a>
                    <p class="bookLink">
                        <a href="bocker/Friskochvacker.html">Nancy Lonsdorf: Frisk och vacker efter 40 - med Maharishi Ayurveda</a>
                    </p>
                </div>

                <div class="bookSmallImgDiv">
                        <a href="bocker/Friskochframgangsrik.html">
                            <img class="bookSmallImg" src="/img/bocker/FriskOchFramgangsrik.jpg" alt="Frisk och framgångsrik med Maharishi Ayurveda">
                        </a>
                        <p class="bookLink">
                            <a href="bocker/Friskochframgangsrik.html">Stefan och Yvonne Lagrosen: Frisk och framgångsrik med Maharishi Ayurveda</a>
                        </p>
                </div>

                <div class="bookSmallImgDiv">
                        <a href="bocker/Friskaochglada.html">
                            <img class="bookSmallImg" src="/img/bocker/Friska och glada barn med Maharishi Ayurveda.jpg" alt="Friska och glada barn">
                        </a>
                        <p class="bookLink">
                            <a href="bocker/Friskaochglada.html">Kumuda Reddy &amp; Linda Egenes: Friska och glada barn med Maharishi Ayurveda</a>
                        </p>
                </div>

                <div class="bookSmallImgDiv">
                        <a href="bocker/Enlakaresabc.html">
                            <img class="bookSmallImg" src="/img/bocker/EnLakaresABCFramsida.jpg" alt="En läkares ABC">
                        </a>
                        <p class="bookLink">
                            <a href="bocker/Enlakaresabc.html">Charlotte Bech: En läkares ABC för naturligt friska barn</a>
                        </p>
                </div>

                <div class="bookSmallImgDiv">
                    <a href="bocker/Fiskarna.html">
                        <img class="bookSmallImg" src="/img/bocker/Fiskarna.jpg" alt="Fånga de stora fiskarna">
                    </a>
                    <p class="bookLink">
                        <a href="bocker/Fiskarna.html">David Lynch: Fånga de stora fiskarna</a>
                    </p>
                </div>

                <div class="bookSmallImgDiv">
                    <a href="bocker/Luciasresa.html">
                        <img class="bookSmallImg" src="/img/bocker/Lucias resa framsida.jpg" alt="Lucias resa">
                    </a>
                    <p class="bookLink">
                        <a href="bocker/Luciasresa.html">Stefan Lagrosen: Lucias resa</a>
                    </p>
                </div>

                <div class="bookSmallImgDiv">
                    <a href="bocker/Klassiskasagor.html">
                        <img class="bookSmallImg" src="/img/bocker/Framsida sagor.jpg" alt="Klassiska sagor">
                    </a>
                    <p class="bookLink">
                        <a href="bocker/Klassiskasagor.html">Stefan Lagrosen: Klassiska sagor för moderna barn</a>
                    </p>
                </div>

                <a href="VaraForfattare.html" class="mainLink" >Våra författare</a>
                <!-- End of content -->
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    <script src="js/responsive.js"></script>
</body>
</html>