<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Kontakt"}}
    <link rel="canonical" hreflang="sv" href="{{base_address}}/index.html" />
    <link rel="alternate" hreflang="en" href="{{base_address}}/en/index.html" />
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV langLink="/en/contact.html"}}
            <div id="content">
                <div class="textBlock">
                    <h2>Kontakta oss</h2>
                    <p><strong>Ayurveda Göteborg</strong><br />
                    </p>
                    <p>Tel. <a href="tel:+0707727771">070 772 7771</a> eller <a href="tel:+0739448248">073 944 8248</a>
                        (SMS om inte svarar)
                    </p>
                    <p><a href="mailto:stefan@ayurvedagoteborg.se">Skicka e-mail till Stefan Lagrosen</a></p>
                    <p><a href="mailto:yvonne@ayurvedagoteborg.se">Skicka e-mail till Yvonne Lagrosen</a></p>
                </div>
                <div class="textBlock">
                    <p><strong>Besöksadress:</strong></p>
                    <p>Alfhemsgatan 3</p>
                    <p>Göteborg</p>
                </div>
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>