<!DOCTYPE html>
<html lang="sv">

<head>
  {{> head title="Kurser"}}
  <link rel="canonical" hreflang="sv" href="{{base_address}}/courses.html" />
  <link rel="alternate" hreflang="en" href="{{base_address}}/en/courses.html" />
</head>

<body>
  <main id="main">
    {{> header}}
    <section id="mainSection">
      {{> navSV langLink="/en/courses.html"}}
      </div>
      <div id="content">
        <!-- Insert content below -->


        <div class="textImgDiv">
          <img src="/img/courses/wellness-consultation.jpg" alt="Ayurveda Wellness-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Ayurvedisk hälsorådgivning</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Du får en bedömning av din unika konstitution och ditt övergripande hälsotillstånd. Mot bakgrund av det
              får du råd om kost och levnadsvanor samt förslag på örtpreparat som kan stärka hälsan. Kan även kombineras
              med marma-behandling.</p>
            <p>Tidsåtgång: Upp till en timma <br>
              Kostnad: 780 kr <br>
              <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>
            </p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/fitness-consultation.jpg" alt="Ayurveda Fitness-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Ayurvedisk hälsorådgivning med träningsprogram</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Förutom det som ingår under Ayurvedisk hälsorådgivning (se ovan) får du också ett individuellt
              utformat träningsprogram baserat på din unika konstitution och hälsotillstånd utifrån ayurveda och modern
              träningslära. Vidare ingår support avseende programmet under tre månader. Du kan få ett träningsprogram
              för löpning eller styrketräning eller både och. Kan även kombineras med marma-behandling.</p>
            <p>
              Tidsåtgång: ca en timma <br>
              Kostnad: 880 kr <br>
            </p>
            <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/marma.jpg" alt="Maharishi Marma-terapi" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Ayurveda Marma-terapi</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Enligt Ayurveda finns det 108 punkter där kroppens energikanaler möts och där medvetandet skapar den
              fysiska kroppen. I marma-terapi masseras ett personligt urval av dessa punkter mjukt och behagligt med
              särskilda eteriska oljor. Det gör att de balanseras vilket leder till att energi frigörs och hälsan
              stärks.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 880 kr, klippkort med rabatt finns</p>
            <p><a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a></p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/gem-stone-therapy.png" alt="Maharishi Ädelstensljusterapi" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Ädelstensljusterapi</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Inom Ayurveda anses ädelstenar ha en särskild kraft. Ljuset från dem är kopplade till vårt eget inre
              ljus. I Ädelstensljusterapin upplivas det genom att ljus av specifika frekvenser får lysa genom ädelstenar
              på bestämda ställen på kroppen. Resultatet är en balansering på en djup nivå.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 1190 kr, klippkort med rabatt finns</p>
            <p>Kontakta oss för information och bokning.</p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/aroma-therapy.png" alt="Maharishi Aroma-terapi-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Ayurveda Aroma-terapi</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Essentiella oljor är koncentrat av solenergi och växters kraft samlat i små flaskor. De upplivar kroppens
              självläkande förmåga, skapar balans och stärker kropp och själ. Dofterna aktiverar neurotransmittorer som
              ökar välbefinnandet och minskar stress, oro och nedstämdhet. Du får en behaglig och
              njutbar Ved Aroma-behandling och vi väljer ut de aromoljor som passar dig bäst.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 980 kr</p>
            <p><a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a></p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/health-massage.jpg" alt="Health massage" class="bigImg">
          <div class="textImgTxt">
            <h3>Friskvårdsmassage med ayurvedisk touch</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Grundlig och skön klassisk svensk helkroppsmassage som utförs med exklusiva ayurvediska örtbehandlade
              massage-oljor anpassade efter din konstitution och hälsosituation. Kampanj: September och oktober 2025,
              halva priset, passa på!</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 780 kr (september och oktober 2025 endast 390 kr)</p>
            <p><a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a></p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/woman-running-yoga.jpg" alt="Woman running" class="bigImg">

          <div class="textImgTxt">
            <h3>Yoga-löpning</h3>
            <p>
              Yoga-löpning är medveten löpning, löpning där du arbetar med kroppen inte mot den. Vi integrerar
              löpningen
              med lätta yoga-övningar och andningsövningar. Löpningen präglas av medveten närvaro och samordning av
              kropp,
              sinne och själ. Det gör att löpningen blir behaglig och njutbar samtidigt som den blir maximalt effektiv
              och
              välgörande för din hälsa och prestationsförmåga.
              <a href="https://peach.nu/activities/oBikaYYhjaczAx8YuKlF">Boka här</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
  {{> scripts}}
</body>
