<!DOCTYPE html>
<html lang="sv">

<head>
  {{> head title="Kurser"}}
  <link rel="canonical" hreflang="sv" href="{{base_address}}/courses.html" />
  <link rel="alternate" hreflang="en" href="{{base_address}}/en/courses.html" />
</head>

<body>
  <main id="main">
    {{> header}}
    <section id="mainSection">
      {{> navSV langLink="/en/courses.html"}}
      </div>
      <div id="content">
        <!-- Insert content below -->

        <div class="textImgDiv">
          <img src="/img/courses/wellness-consultation.jpg" alt="Ayurveda Wellness-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Ayurvedisk hälsorådgivning</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Du får en bedömning av din unika konstitution och ditt övergripande hälsotillstånd. Mot bakgrund av det
              får du råd om kost och levnadsvanor samt förslag på örtpreparat som kan stärka hälsan. Kan även kombineras
              med marma-behandling.</p>
            <p>Tidsåtgång: Upp till en timma <br>
              Kostnad: 690 kr <br>
              <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>
            </p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/fitness-consultation.jpg" alt="Ayurveda Fitness-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Ayurveda Fitness-konsultation</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Förutom det som ingår under Ayurveda-Wellness konsultation (se ovan) får du också ett individuellt
              utformat träningsprogram baserat på din unika konstitution och hälsotillstånd utifrån ayurveda och modern
              träningslära. Vidare ingår support avseende programmet under tre månader. Du kan få ett träningsprogram
              för löpning eller styrketräning eller både och. Kan även kombineras med marma-behandling.</p>
            <p>
              Tidsåtgång: ca en timma <br>
              Kostnad: 740 kr <br>
            </p>
            <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/marma.jpg" alt="Maharishi Marma-terapi" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Marma-terapi</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Enligt Ayurveda finns det 108 punkter där kroppens energikanaler möts och där medvetandet skapar den
              fysiska kroppen. I marma-terapi masseras ett personligt urval av dessa punkter mjukt och behagligt med
              särskilda eteriska oljor. Det gör att de balanseras vilket leder till att energi frigörs och hälsan
              stärks.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 740 kr</p>
            <p><a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a></p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/gem-stone-therapy.png" alt="Maharishi Ädelstensljusterapi" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Ädelstensljusterapi</h3>
            <h4 class="courseSubHeader">med Yvonne eller Stefan Lagrosen</h4>
            <p>Inom Ayurveda anses ädelstenar ha en särskild kraft. Ljuset från dem är kopplade till vårt eget inre
              ljus. I Ädelstensljusterapin upplivas det genom att ljus av specifika frekvenser får lysa genom ädelstenar
              på bestämda ställen på kroppen. Resultatet är en balansering på en djup nivå.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 980 kr</p>
            <p>Kontakta oss för information och bokning.</p>
          </div>
        </div>

        <div class="textImgDiv">
          <img src="/img/courses/aroma-therapy.png" alt="Maharishi Aroma-terapi-konsultation" class="bigImg">
          <div class="textImgTxt">
            <h3>Maharishi Aroma-terapi-konsultation</h3>
            <h4 class="courseSubHeader">med Yvonne Lagrosen eller Stefan Lagrosen</h4>
            <p>Eteriska oljor är koncentrat av solenergi och växters kraft samlat i små flaskor. De upplivar kroppens
              självläkande förmåga, skapar balans och stärker kropp och själ. Dofterna aktiverar neurotransmittorer som
              ökar välbefinnandet och minskar stress, oro och nedstämdhet. Under konsultationen får du en behaglig och
              njutbar Ved Aroma-behandling och vi väljer ut de aromoljor som passar dig bäst.</p>
            <p>Tidsåtgång: 45-60 minuter</p>
            <p>Kostnad: 740 kr</p>
            <p>Kontakta oss för information och bokning.</p>
          </div>
        </div>

        <div>
          <h3>Kurser</h3>
          <p>Följande kurser håller vi i olika sammanhang och de kan även ges som företagsinterna kurser om intresse
            finns</p>
          <p>
            <a href="pdf/yogacourse.pdf" target="_blank">Maharishi Yoga Asanas</a>
          </p>
          <p>
            <a href="pdf/Grundkurs.pdf" target="_blank">Grundkurs i Maharishi Ayurveda med personlig konsultation</a>
          </p>
          <p>
            <a href="pdf/Kvinnokurs.pdf" target="_blank">Maharishi Ayurveda för kvinnors hälsa</a>
          </p>
          <p>
            <a href="pdf/Individualiscosmic.pdf" target="_blank">Individen är kosmisk</a>
          </p>
          <p>
            <a href="http://tm-meditation.se/" target="_blank">Transcendental Meditation</a>
          </p>
        </div>
      </div>
    </section>
    <footer></footer>
  </main>
  <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
  {{> scripts}}
</body>

</html>
