<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Kurser & Behandlingar för företag"}}
    <link rel="canonical" hreflang="sv" href="{{base_address}}/courses-company.html" />
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV langLink="/en/courses-company.html"}}
            </div>
            <div id="content">
                <!-- Insert content below -->

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <h3>Ayurveda för hälsa och välbefinnande i ditt företag</h3>
                        <p>Ayurveda, världens äldsta hälsosystem, erbjuder naturliga metoder för att skapa hälsa
                            som är helt i linje med modern vetenskap. Använd dem i ditt företag för att få en
                            arbetsplats som präglas av hälsa, välbefinnande och glädje.</p>
                    </div>
                </div>

                <h2>Exempel på upplägg (vi kan också skräddarsy program efter ert önskemål)</h2>

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <h3>Workshop</h3>
                        <div class="textRow">
                            <span class="text">Workshop om Ayurveda med anpassat tema</span>
                            <span class="time">3 h</span>
                            <span class="type">grupp</span>
                        </div>
                        <p>Prisexempel för 20 deltagare: 12 000 kr + moms.</p>
                    </div>
                </div>

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <h3>Medvetandeutveckling med Transcendental Meditation</h3>
                        <div class="textRow">
                            <span class="text">Inledande workshop om medvetande</span>
                            <span class="time">1,5 h</span>
                            <span class="type">grupp</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Personlig instruktion</span>
                            <span class="time">1,5 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Fyra uppföljande workshops</span>
                            <span class="time">3×1,5 h</span>
                            <span class="type">grupp</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Individuell uppföljning</span>
                            <span class="time">1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Yoga och fördjupningsretreat</span>
                            <span class="time">heldag</span>
                            <span class="type">grupp</span>
                        </div>
                        <p>Prisexempel för 10 deltagare: 87 000 kr + moms.</p>
                    </div>
                </div>

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <h3>Ayurveda wellness-programme</h3>
                        <div class="textRow">
                            <span class="text">Inledande workshop om Ayurveda</span>
                            <span class="time">2 h</span>
                            <span class="type">grupp</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Personlig hälsorådgivning</span>
                            <span class="time">1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Två sessioner marma-massage</span>
                            <span class="time">2×1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Yoga- och behandlingsretreat</span>
                            <span class="time">heldag</span>
                            <span class="type">grupp</span>
                        </div>
                        <p>Prisexempel för 10 deltagare: 48 000 kr + moms.</p>
                    </div>
                </div>

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <h3>Ayurveda fitness-programme</h3>
                        <div class="textRow">
                            <span class="text">Inledande workshop om Ayurveda och träning</span>
                            <span class="time">3 h</span>
                            <span class="type">grupp</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Personlig hälsorådgivning med träningsprogram</span>
                            <span class="time">1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Två sessioner marma-massage</span>
                            <span class="time">2×1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Friskvårdsmassage</span>
                            <span class="time">1 h</span>
                            <span class="type">enskilt</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Yoga- och behandlingsretreat</span>
                            <span class="time">heldag</span>
                            <span class="type">grupp</span>
                        </div>

                        <div class="textRow">
                            <span class="text">Yoga- och träningsretreat</span>
                            <span class="time">heldag</span>
                            <span class="type">grupp</span>
                        </div>
                        <p>Prisexempel för 10 deltagare: 75 000 kr + moms.</p>
                    </div>
                </div>

                <div class="textImgDiv">
                    <div class="textImgTxt">
                        <p>Alla program leds av Yvonne och Stefan Lagrosen som båda är universitetslärare med
                            fokus på hälsa i arbetslivet och lång erfarenhet av att arbeta med organisationer. De är
                            också vidareutbildade inom yoga, ayurveda och Transcendental Meditation.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>