<!DOCTYPE html>
<html lang="sv">
{{> head title="Ayurveda Göteborg"}}
<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV langLink="/en/index.html"}}
            <div id="content">         
                <div>
                    <p><strong>Ayurveda är ett hälsosystem som blir alltmer populärt i västvärlden. Anledningen är att Ayurveda har visat sig vara ett värdefullt komplement till den västerländska medicinen inom tre områden, nämligen:</strong></p>
                    <p>- att behandla diffusa, oklara symptom</p>
                    <p>- att förebygga sjukdomar</p>
                    <p>- att få oss att må bättre och känna oss friskare, mer energiska och mer entusiastiska även när vi inte är direkt sjuka.</p>
                    <p>&nbsp;</p>
                    <p>Ayurveda Göteborg arbetar med Maharishi Ayurveda som är en holistisk och vetenskapligt bekräftad version av Ayurveda. Vi erbjuder kurser, konsultationer och böcker. Den här hemsidan är under utveckling och uppdateras kontinuerligt.</p>
                    <p>&nbsp;</p>
                    <p>Välkommen!    </p>
                </div>
                
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    <script src="js/responsive.js"></script>
</body>
</html>