<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheats/style.css" />
    <link rel="icon" href="img/website/favicon.ico" type="image/x-icon" />
    <!-- Description should consist of less that 300 characters -->
    <meta name="description" content="" />
    <title>Kurser och konsultationer</title>
  </head>
  <body>
    <main id="main">
      <header id="header">
        <div id="headerDiv">
          <img id="logoType" src="img/website/Logga.png" alt="Logotyp" />
          <div id="headerTxt">
            <div id="headerHeader">Ayurveda Göteborg</div>
            <div id="headerHeadings">&nbsp;</div>
          </div>
        </div>
      </header>
      <section id="mainSection">
        {{> nav}}
      </div>
        <div id="content">
          <!-- Insert content below -->

          <div class="swedish displayNone">
            <h1>Kurser</h1>


            <h3>Ayurveda Wellness-konsultation</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Du får en bedömning av din unika konstitution och ditt övergripande hälsotillstånd. Mot bakgrund av det får du råd om kost och levnadsvanor samt förslag på örtpreparat som kan stärka hälsan.</p>
            <p>Tidsåtgång: Upp till en timma <br>
              Kostnad: 690 kr <br>
              Plats: Vår mottagning på Västra Andersgårdsgatan 7C, Göteborg</p>
            <a href=" https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>


            <h3>Ayurveda Fitness-konsultation</h3>
            <h4 class="courseSubHeader">med Stefan Lagrosen</h4>
            <p>Förutom det som ingår under Ayurveda-Wellness konsultation (se ovan) får du också ett individuellt utformat träningsprogram baserat på din unika konstitution och hälsotillstånd utifrån ayurveda och modern träningslära. Vidare ingår support avseende programmet under tre månader. Du kan få ett träningsprogram för löpning eller styrketräning eller både och.</p>
            <p>
              Tidsåtgång: ca en timma <br>
              Kostnad: 740 kr <br>
              Plats: Vår mottagning på Västra Andersgårdsgatan 7C, Göteborg
            </p>
            <a href=" https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Boka via Boka Direkt</a>


            <!--
            <h3>Ayurveda PT-konsultation</h3>
            <p>Nu har du möjlighet att få en unik online ayurveda-konsultation med fokus på träning. Läs mer här:</p>
            <p>
              <a href="PT-konsultation.html"
                >PT-Konsultation</a
              >
            </p>
            -->
  
            <!--
            <h3>Aktuella kurser</h3>
            <p>Vi planerar att ge kursen Grundkurs i Maharishi Ayurveda med personlig konsultation senare i höst. Datum är ännu inte klart <a href="pdf/Yogacourse.pdf">Läs mer</a></p>
            -->

  
            <h3>Övriga kurser</h3>
            <p>Följande kurser håller vi i olika sammanhang och de kan även ges som företagsinterna kurser om intresse finns</p>
            <p>
              <a href="pdf/Yogacourse.pdf" target="_blank"
                >Maharishi Yoga Asanas</a
              >
            </p>
            <p>
              <a href="pdf/Grundkurs.pdf" target="_blank"
                >Grundkurs i Maharishi Ayurveda med personlig konsultation</a
              >
            </p>
            <p>
              <a href="pdf/Kvinnokurs.pdf" target="_blank"
                >Maharishi Ayurveda för kvinnors hälsa</a
              >
            </p>
            <p>
              <a href="pdf/Individualiscosmic.pdf" target="_blank"
                >Individen är kosmisk</a
              >
            </p>
            <p>
              <a href="http://tm-meditation.se/" target="_blank"
                >Transcendental Meditation</a
              >
            </p>
            <p>
              <a href="pdf/Aromaconsultation.pdf" target="_blank"
                >Konsultation i Maharishi Aromaterapi</a
              >
            </p>
          </div>

          <div class="english">
            <h1>Courses and consultations</h1>

            <h3>Ayurveda PT consultation</h3>
            <p>Now you have the opportunity to get a unique online ayurveda consultation with a focus on training. Read more here:</p>
            <p>
              <a href="PT-konsultation.html"
                >PT Consultation</a
              >
            </p>
  
            <h3>Coming courses</h3>
            <p>No courses in English are planned at the moment. Further information will be posted here in due time.</p>
            
  
            <h3>Other courses</h3>
            <p>We offer the following courses in different contexts and they can also be given as company-internal courses if there is interest</p>
            <p>
              <a href="pdf/Yogacourse.pdf" target="_blank"
                >Maharishi Yoga Asanas</a
              >
            </p>
            <p>
              <a href="pdf/Grundkurs.pdf" target="_blank"
                >Introduction to Ayurveda with personal consultation</a
              >
            </p>
            <p>
              <a href="pdf/Kvinnokurs.pdf" target="_blank"
                >Maharishi Ayurveda for women’s health</a
              >
            </p>
            <p>
              <a href="pdf/Individualiscosmic.pdf" target="_blank"
                >The individual is cosmic</a
              >
            </p>
            <p>
              <a href="http://tm-meditation.se/" target="_blank"
                >Transcendental Meditation</a
              >
            </p>
            <p>
              <a href="pdf/Aromaconsultation.pdf" target="_blank"
                >Consultation in Maharishi Aromatherapy</a
              >
            </p>
          </div>


          <!--
          <h3 class="tableHeader">
            Kalendarium
          </h3>

          <table class="table" id="calendar">
            <tr>
              <th>Datum</th>
              <th>Tid</th>
              <th>Plats</th>
              <th>Aktivitet</th>
            </tr>

            <tr>
              <td>Lördag 19 januari</td>
              <td>10-12</td>
              <td>Allsports Högelidsvägen 4, Henån</td>
              <td>
                <a href="http://tm-meditation.se/" target="_blank"
                  >Informationsföredrag om Transcendental Meditation, TM</a
                >
              </td>
            </tr> -->
          </table>

          <!-- End of content -->
        </div>
      </section>
      <footer></footer>
    </main>
    <script src="js/responsive.js"></script>
  </body>
</html>
