<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Links"}}
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV}}
            <div id="content">
                <!-- Insert content below -->
                <h1>Länkar</h1>

                <p> Här är länkar till några organisationer som arbetar för mer visdom, skönhet och
                    hälsa i världen:</p>

                <p><a href="https://www.imavf.org/" target="_blank">Den internationella Maharishi
                        Ayurveda-stiftelsen</a></p>
                <p><a href="http://www.davidlynchfoundation.org/" target="_blank">David Lynchs stiftelse
                        för
                        medvetandebaserad utbildning</a></p>
                <p><a href="http://www.ayurveda-ayurvedic.net/" target="_blank">Dr Nancy Lonsdorfs sida
                        för kvinnors
                        hälsa och skönhet</a></p>
                <p><a href="https://mlg-world.com/" target="_blank">Den internationella sidan för
                        ädelstensljusterapi</a></p>
                <p><a href="https://se.oneconsciousness.org/" target="_blank">Utveckling av
                        medvetandet</a></p>
                <p><a href="http://tm-meditation.se/" target="_blank">Den svenska TM-organisationen</a>
                </p>
                <p><a href="http://www.maharishi.co.uk/" target="_blank">Engelsk webbshop med stort
                        utbud av Maharishi
                        Ayurveda-produkter</a></p>
                <p><a href="https://www.ayurveda-products.eu/" target="_blank">Holländsk webbshop med
                        stort utbud av
                        Maharishi Ayurveda-produkter</a></p>
                <p><a href="http://www.shop.vedahouse.se/" target="_blank">Veda House – Butik och
                        webbshop i Stockholm
                        specialiserad på Maharishi Ayurveda</a></p>
                <p><a href="http://vedalila.se/" target="_blank">Veda Lila – Ayurvedisk butik i
                        Stockholm och
                        webbshop</a></p>

                <!-- End of content -->
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>