<header id='header'>
    <div id='headerDiv'>
        <img
            id='logoType'
            src='/img/website/Logga.png'
            alt='Logotyp'
            class='headerLogo'
        />
        <div id='headerTxt'>
            <div id='headerHeader'>Ayurveda Göteborg</div>
        </div>
    </div>
</header>