<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <link rel='stylesheet' href='/styles/main.css' />
    <link rel='icon' href='/img/website/favicon.ico' type='image/x-icon' />
    <meta name="keywords" content="ayurveda, marma, massage, göteborg, yoga">
    <meta name='description'
        content='Ayurveda Göteborg erbjuder behandlingar, kurser, konsultationer och böcker om Ayurveda, yogans hälsosystem, som är mycket effektivt för att lindra stress och få oss att må bättre och känna oss friskare, mer energiska och mer entusiastiska. Vi använder Maharishi Ayurveda, medvetandebaserad Ayurveda vilket gör effekterna extra djupgående. Välkommen!' />

    <title>{{title}}</title>
</head>
