<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <link rel='stylesheet' href='/styles/main.css' />
    <link rel='icon' href='/img/website/favicon.ico' type='image/x-icon' />
    <meta name="keywords" content="ayurveda, marma, massage, göteborg, yoga">
    <meta name='description'
        content='Ayurveda Göteborg erbjuder behandlingar, kurser, konsultationer och böcker om Maharishi Ayurveda som är mycket effektivt inom att förebygga sjukdomar, behandla diffusa, oklara symptom samt att få oss att må bättre och känna oss friskare, mer energiska och mer entusiastiska även när vi inte är direkt sjuka. Välkommen!' />

    <title>{{title}}</title>
</head>