<nav id="menu">
    <div class="menuItem">
        <a href="index.html" class="swedish displayNone">Start</a>
        <a href="index.html" class="english">Start</a>
    </div>
    <div class="menuItem">
        <a href="Ayurveda.html" class="swedish displayNone">Om oss och Ayurveda</a>
        <a href="Ayurveda.html" class="english">About us and Ayurveda</a>
    </div>
    <div class="menuItem">
        <a href="Kurser.html" class="swedish displayNone">Kurser och konsultationer</a>
        <a href="Kurser.html" class="english">Courses and consultations</a>
    </div>
    <div class="menuItem">
        <a href="boker.html" class="swedish displayNone" rel="noopener noreferrer">Böcker</a>
        
    </div>
    <div class="menuItem swedish displayNone">
        <a href="Lankar.html">Länkar</a>
    </div>
    <div class="menuItem">
        <a href="Kontakt.html" class="swedish displayNone">Kontakt</a>
        <a href="Kontakt.html" class="english">Contact</a>
    </div>
    <div class="menuItem">
        <a href="#" class="swedish displayNone" onclick="window.translate()">English</a>
        <a href="#" class="english" onclick="window.translate()">Swedish</a>
    </div>
</nav>