<nav id='menu'>
    <div class='menuItem'>
        <a href='index.html'>Start</a>
    </div>
    <div class='menuItem'>
        <a href='ayurveda.html'>About us and Ayurveda</a>
    </div>
    <div class='menuItem'>
        <a href='courses.html'>Treatments and courses</a>
    </div>
    <div class='menuItem'>
        <a href='contact.html'>Contact</a>
    </div>

    {{#if langLink}}
        <div class='menuItem'>
            <a href='{{langLink}}'>Swedish</a>
        </div>
    {{/if}}
</nav>