<nav id='menu'>
    <div class='menuItem'>
        <a href='en/index.html'>Start</a>
    </div>
    <div class='menuItem'>
        <a href='en/Ayurveda.html'>About us and Ayurveda</a>
    </div>
    <div class='menuItem'>
        <a href='en/Kurser.html'>Treatments and courses</a>
    </div>
    <div class='menuItem'>
        <a href='en/Kontakt.html'>Contact</a>
    </div>
    <div class='menuItem'>
        <a href='#' onclick='window.translate()'>Swedish</a>
    </div>
</nav>