<nav id='menu'>
    <div class='navLinks' id='navLinks'>
        <div class='menuItem navLink'>
            <a href='/index.html'>Start</a>
        </div>
        <div class='menuItem navLink'>
            <a href='/about.html'>Om oss &amp; Ayurveda</a>
        </div>
        <div class='menuItem navLink'>
            <a href='/courses.html'>Behandlingar &amp; aktiviteter</a>
        </div>
        <div class='menuItem navLink'>
            <a href='/courses-company.html'>Erbjudande för företag</a>
        </div>
        <div class='menuItem navLink'>
            <a href='/books.html' rel='noopener noreferrer'>Böcker</a>

        </div>
        <div class='menuItem navLink'>
            <a href='/links.html'>Länkar</a>
        </div>
        <div class='menuItem navLink'>
            <a href='/contact.html'>Kontakt</a>
        </div>


        <div class='menuItem navLink'>
            <a href='{{langLink}}' id='translateLink' onclick='disableAutoTranslation()' {{#unless langLink}}
                style="visibility: hidden;" {{/unless}}>English</a>
        </div>

    </div>

    <div class='smallMenu' id='smallMenu' onclick='toggleSmallScreenMenu()'>
        <a href='/index.html'>
            <img id='logoType' src='/img/website/Logga.png' alt='Logotyp' />
        </a>
        <div class='menuItem' id='menuIcon'>
            <div class='bar1'></div>
            <div class='bar2'></div>
            <div class='bar3'></div>
        </div>
    </div>
</nav>