<nav id='menu'>
    <div class='menuItem'>
        <a href='index.html'>Start</a>
    </div>
    <div class='menuItem'>
        <a href='Ayurveda.html'>Om oss och Ayurveda</a>
    </div>
    <div class='menuItem'>
        <a href='Kurser.html'>Behandlingar och kurser</a>
    </div>
    <div class='menuItem'>
        <a
            href='bocker.html'
            rel='noopener noreferrer'
        >Böcker</a>

    </div>
    <div class='menuItem'>
        <a href='Lankar.html'>Länkar</a>
    </div>
    <div class='menuItem'>
        <a href='Kontakt.html'>Kontakt</a>
    </div>
    <div class='menuItem'>
        <a href='#' onclick='window.translate()'>English</a>
    </div>
</nav>