<nav id='menu'>
    <div class='navLinks' id='navLinks'>
        <div class='menuItem navLink'>
            <a href='index.html'>Start</a>
        </div>
        <div class='menuItem navLink'>
            <a href='Ayurveda.html'>Om oss och Ayurveda</a>
        </div>
        <div class='menuItem navLink'>
            <a href='Kurser.html'>Behandlingar och kurser</a>
        </div>
        <div class='menuItem navLink'>
            <a
                href='Bocker.html'
                rel='noopener noreferrer'
            >Böcker</a>

        </div>
        <div class='menuItem navLink'>
            <a href='Lankar.html'>Länkar</a>
        </div>
        <div class='menuItem navLink'>
            <a href='Kontakt.html'>Kontakt</a>
        </div>

        {{#if langLink}}
            <div class='menuItem navLink'>
                <a href='{{langLink}}'>English</a>
            </div>
        {{/if}}
    </div>

    <div class='smallMenu' id='smallMenu'>
        <a href='index.html'>
            <img
                id='logoType'
                src='/img/website/Logga.png'
                alt='Logotyp'
            />
        </a>
        <div class='menuItem' id='menuIcon'>
            <div class='bar1'></div>
            <div class='bar2'></div>
            <div class='bar3'></div>
        </div>
    </div>
</nav>