<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Frisk och framgångsrik"}}
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV}}
            <div id="content">
                <!-- Insert content below -->
                <h2>Frisk och framgångsrik med Maharishi Ayurveda</h2>
                <h3>Av Stefan och Yvonne Lagrosen</h3>
                <br>
                <div class="textImgDiv">
                    <img class="bigImg" src="/img/bocker/FriskOchFramgangsrik.jpg" alt="Frisk och framgångsrik">
                    <div class="textImgTxt">
                        Hälsan är bland det viktigaste vi har i våra liv. Om vi inte mår bra är det svårt att finna
                        glädjen i livet. Men om vi är fyllda av energi och livskraft är det lättare att bli både
                        framgångsrik och lycklig. Den här boken tar ett helhetsgrepp på hur man skapar ett hälsosamt och
                        hållbart arbetsliv. Idag upplever många att arbetslivet har en negativ inverkan på hälsan. Men
                        det
                        behöver inte vara så. Det finns ett oerhört effektivt hälsosystem, Maharishi Ayurveda, som
                        börjar spridas i västvärlden. Det är ett system som bygger på helhet, sammanhang och en
                        förståelse för att vi människor är olika.
                        <br><br>
                        I boken visar författarna hur Maharishi Ayurveda kan hjälpa dig att klara arbetslivets
                        påfrestningar och bli friskare och gladare för varje dag som går.
                        Och med ökad hälsa kommer också framgång och livsglädje. Dessutom är boken en vägledning för
                        alla som arbetar i ledande befattning till hur de kan skapa en arbetsplats som bubblar av hälsa,
                        kreativitet och arbetsglädje.
                        <br><br>
                        Boken bör läsas av alla som vill må bra och lyckas med det de företar sig – och vem vill inte
                        det?
                        <br><br>
                        <a href="/pdf/01UraldrigKunskapForEttNyttArbetsliv.pdf" target="_blank">Läs inledningskapitlet
                            här</a>
                        <br><br><br><br>
                        <a href="https://www.adlibris.com/se/bok/frisk-och-framgangsrik-med-maharishi-ayurveda-9789186718008"
                            target="_blank"><img src="/img/buy/Adkop.jpg" class="buyBook" alt="Köp på Adlibris"></a>
                        <a href="https://www.bokus.com/bok/9789186718008/frisk-och-framgangsrik-med-maharishi-ayurveda/"
                            target="_blank" id="buyOnBokus"><img src="/img/buy/Bokkop.jpg" class="buyBook"
                                alt="Köp på bokus"></a>
                    </div>
                </div>

                <!-- End of content -->
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>