<!DOCTYPE html>
<html lang="sv">

<head>
    {{> head title="Klassiska sagor för moderna barn"}}
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navSV}}
            <div id="content">
                <!-- Insert content below -->
                <h2>Klassiska sagor för moderna barn</h2>
                <h3>Av Stefan Lagrosen, illustrerad av Amanda Hedberg</h3>
                <br>
                <div class="textImgDiv">
                    <div class="textImgImg">
                        <img class="bigImg" src="/img/bocker/Framsida sagor.jpg" alt="Klassiska sagor för moderna barn">
                    </div>

                    <div class="textImgTxt">
                        Det finns mycket visdom i de gamla folksagorna. Ändå är de ibland skrämmande och svåra att
                        förstå för dagens barn. I den här boken finner du gamla sagor i delvis nya versioner som är
                        fyllda av glädje och visdomsglimtar på ett sätt som dagens barn lätt tar till sig. Dessutom
                        ingår en helt ny saga.
                        <br><br>
                        Moderna illustrationer gör sagorna än mer levande. Följ med in i en spännande värld med Hans och
                        Greta, Rödluvan, Snövit, Askungen, Sankta Lucia, Sköna Helena och Diana, prinsessan av Wales –
                        och kom tillbaka lite gladare och
                        visare.
                        <br><br>
                        <a href="/pdf/04 Askungen.pdf" target="_blank">Läs bokens version av Askungen här</a>
                        <br><br><br><br>
                        <a href="https://www.adlibris.com/se/bok/klassiska-sagor-for-moderna-barn-9789186718053"
                            target="_blank"><img src="/img/buy/Adkop.jpg" class="buyBook" alt="Köp på Adlibris"></a>
                        <a href="https://www.bokus.com/bok/9789186718053/klassiska-sagor-for-moderna-barn/"
                            target="_blank" id="buyOnBokus"><img src="/img/buy/Bokkop.jpg" class="buyBook"
                                alt="Köp på bokus"></a>
                    </div>
                </div>

                <!-- End of content -->
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>