<!DOCTYPE html>
<html lang="en">

<head>
    {{> head title="Ayurveda"}}
    <link rel="canonical" hreflang="en" href="{{base_address}}/en/ayurveda.html" />
    <link rel="alternate" hreflang="sv" href="{{base_address}}/ayurveda.html" />
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navEN langLink="/ayurveda.html"}}
            <div id="content">

                <div>
                    <h2>Who are we?</h2>
                    <p>Ayurveda Gothenburg is a section of Syneidos Quality Literature. Some of our staff are:</p>
                </div>

                <br>

                <div class="textImgDiv">
                    <img class="bigImg" src="/img/about/stefan.jpg" alt="Stefan Lagrosen">
                    <div class="textImgTxt" style="margin-bottom: 30px">
                        Dr Stefan Lagrosen is a professor of management doing research in and teaching work-life health.
                        He is also a certified Maharishi Ayurveda Wellness Consultant, licensed personal trainer,
                        certified running coach and certified teacher of Maharishi Yoga Asanas. He has many years of
                        experience of Ayurveda as well as of teaching and course management in many different contexts.
                    </div>
                </div>

                <div class="textImgDiv">
                    <img class="bigImg" src="/img/about/yvonne.jpg" alt="Yvonne Lagrosen">
                    <div class="textImgTxt">
                        Yvonne Lagrosen is an associate professor of quality management. she researches work-life
                        health, and she is internationally known for her research on the link between quality management
                        and health. Furthermore, she researches brainfunction and its connection to performance. She is
                        also an authorised instructor in Transcendental Meditation. She is an experienced and esteemed
                        course leader and has extensive experience of Ayurveda.
                    </div>
                </div>

                <h2>Ayurveda</h2>
                <div>
                    <p>Ayurveda is the world's oldest health system. It has been preserved in India for thousands of
                        years. And the knowledge is extremely advanced. For example, Ayurveda described in detail how
                        blood circulation works thousands of years before William Harvey made the same discovery in the
                        18th century and the medical knowledge of the West began to develop. In Ayurveda, special
                        consideration is given to the fact that we humans are different. What is good for one person is
                        not necessarily good for another. And what is good for one person at a time may be harmful at
                        another time. Therefore, great emphasis is placed on taking into account each person's specific
                        constitution and what specific imbalances one has. Ayurveda also sees man as part of nature. All
                        treatments and therapies are therefore natural and aim to create inner and outer balance. That
                        is why Ayurveda is so incredibly effective.</p>
                    <p>But until recently, the health care system was quite fragmented. The long course of time had
                        meant that knowledge had been eroded. Not least because India has been colonized for centuries,
                        first by the Mughals and then by the British. They suppressed the domestic knowledge. And when
                        India was liberated, people put more faith in the Western science of the colonizers than their
                        domestic wisdom. Therefore, Ayurveda was not the complete system it once was. It was known in
                        various parts, for example that certain herbs help against certain ailments and that certain
                        treatments were effective in promoting health. But no one had any grip on the whole. This was
                        the situation until the early 1980s.</p>
                    <p>It was in that situation that Maharishi Mahesh Yogi became involved in Ayurveda. For a couple of
                        decades, he had worked intensively to spread the technology of Transcendental Meditation, TM,
                        around the world. He had seen TM's effects in developing consciousness and the good effects it
                        had on health. He therefore realized that the foundation of health lies in the consciousness, it
                        is from there that the whole can be created. Therefore, he understood that now was the time to
                        resurrect Ayurveda to its former glory.</p>
                    <p>He approached this project with full energy and focus. From different corners of India, he
                        gathered the foremost experts in each of the different parts of Ayurveda. Together they worked
                        intensively with their knowledge, with their experience and with the old texts. From this work
                        arose the newly awakened complete version of Ayurveda; it was named Maharishi Ayurveda.</p>
                    <p>Since then, Maharishi Ayurveda has spread around the world and many people have enjoyed its
                        effectiveness; including ourselves who have used this health system for many years and have been
                        impressed by how beneficial it is.</p>
                </div>
                <!-- End of content -->
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>