<!DOCTYPE html>
<html lang="en">

<head>
    {{> head title="Contact"}}
</head>

<body>
    <main id="main">
        {{> header}}
        <section id="mainSection">
            {{> navEN langLink="/contact.html"}}
            <div id="content">
                <div class="textBlock">
                    <h2>Contact us</h2>
                    <p><strong>Ayurveda Göteborg (Ayurveda Gothenburg)</strong><br />
                    </p>
                    <p>Tel. +46 70 7727771</p>
                    <p><a href="mailto:stefan@ayurvedagoteborg.se">Send e-mail</a></p>
                </div>
                <div class="textBlock">
                    <p><strong>Visiting address:</strong></p>
                    <p>c/o Lagrosen</p>
                    <p>Alfhemsgatan 3</p>
                    <p>Göteborg</p>
                </div>
            </div>
        </section>
        <footer>
        </footer>
    </main>
    <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
    {{> scripts}}
</body>

</html>