<!DOCTYPE html>
<html>
  {{> head title="Courses"}}
  <body>
    <main id="main">
      {{> header}}
      <section id="mainSection">
        {{> navEN langLink="/Kurser.html"}}
      </div>
        <div id="content">
          <div>
            <h1>Courses and consultations</h1>

            <h3>Ayurveda PT consultation</h3>
            <p>Now you have the opportunity to get a unique online ayurveda consultation with a focus on training. Read more here:</p>
            <p>
              <a href="PT-konsultation.html"
                >PT Consultation</a
              >
            </p>
  
            <h3>Coming courses</h3>
            <p>No courses in English are planned at the moment. Further information will be posted here in due time.</p>
            
  
            <h3>Other courses</h3>
            <p>We offer the following courses in different contexts and they can also be given as company-internal courses if there is interest</p>
            <p>
              <a href="pdf/Yogacourse.pdf" target="_blank"
                >Maharishi Yoga Asanas</a
              >
            </p>
            <p>
              <a href="pdf/Grundkurs.pdf" target="_blank"
                >Introduction to Ayurveda with personal consultation</a
              >
            </p>
            <p>
              <a href="pdf/Kvinnokurs.pdf" target="_blank"
                >Maharishi Ayurveda for women’s health</a
              >
            </p>
            <p>
              <a href="pdf/Individualiscosmic.pdf" target="_blank"
                >The individual is cosmic</a
              >
            </p>
            <p>
              <a href="http://tm-meditation.se/" target="_blank"
                >Transcendental Meditation</a
              >
            </p>
            <p>
              <a href="pdf/Aromaconsultation.pdf" target="_blank"
                >Consultation in Maharishi Aromatherapy</a
              >
            </p>
          </div>

        </div>
      </section>
      <footer></footer>
    </main>
    <script src="js/responsive.js"></script>
  </body>
</html>
