<!DOCTYPE html>
<html lang="en">

<head>
  {{> head title="Courses"}}
  <link rel="canonical" hreflang="en" href="{{base_address}}/en/courses.html" />
  <link rel="alternate" hreflang="sv" href="{{base_address}}/courses.html" />
</head>

<body>
  <main id="main">
    {{> header}}
    <section id="mainSection">
      {{> navEN langLink="/courses.html"}}
      </div>
      <div id="content">
        <div>
          <h1>Courses and consultations</h1>

          <div class="textImgDiv">

            <img src="/img/courses/wellness-consultation.jpg" alt="Wellness Consultation" class="bigImg">
            <div class="textImgTxt">
              <h3>Ayurveda Health Consultation</h3>
              <h4 class="courseSubHeader">with Stefan or Yvonne Lagrosen</h4>
              <p>You will get an assessment of your unique constitution and overall health. Against this background, you
                will receive advice on diet and lifestyle, as well as suggestions for herbal preparations that can
                strengthen your health. It can also be combined with marma treatment.</p>
              <p>Time required: Up to one hour <br>
                Cost: SEK 780 <br>
                <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Book via Boka Direkt</a>
              </p>
            </div>
          </div>

          <div class="textImgDiv">
            <img src="/img/courses/fitness-consultation.jpg" alt="Wellness Consultation" class="bigImg">
            <div class="textImgTxt">
              <h3>Ayurveda Health Consultation with training programme</h3>
              <h4 class="courseSubHeader">with Stefan Lagrosen</h4>
              <p>In addition to all that is included in the Ayurveda health consultation (see above), you also receive
                an individually designed exercise programme based on your unique constitution and state of health, based
                on
                Ayurveda and modern exercise theory. Furthermore, support regarding the program is included for three
                months. You can get a training programme for running, strength training, or both. It can also be
                combined
                with marma treatment.</p>
              <p>
                Time required: about an hour <br>
                Cost: SEK 880 <br>
              </p>
              <a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Book via Boka Direkt</a>
            </div>
          </div>

          <div class="textImgDiv">
            <img src="/img/courses/marma.jpg" alt="Wellness Consultation" class="bigImg">
            <div class="textImgTxt">
              <h3>Maharishi Marma Therapy</h3>
              <h4 class="courseSubHeader">with Yvonne or Stefan Lagrosen</h4>
              <p>According to Ayurveda, there are 108 points where the body's energy channels meet and where
                consciousness
                creates the physical body. In marma therapy, an individually chosen selection of these points is gently
                and pleasantly massaged with special essential oils. This means that they are balanced, which leads to
                energy being released and health being strengthened.</p>
              <p>Time required: 45-60 minutes</p>
              <p>Cost: SEK 880</p>
              <p><a href="https://www.bokadirekt.se/places/ayurveda-g%c3%b6teborg-42556">Book via Boka Direkt</a></p>
            </div>
          </div>

          <div class="textImgDiv">
            <img src="/img/courses/gem-stone-therapy.png" alt="Wellness Consultation" class="bigImg">
            <div class="textImgTxt">
              <h3>Maharishi Gemstone Light Therapy</h3>
              <h4 class="courseSubHeader">with Yvonne or Stefan Lagrosen</h4>
              <p>In Ayurveda, gemstones are considered to have an extraordinary power. The light from them is connected
                to
                our inner light. In Gemstone Light Therapy, the light within us is enlivened by allowing light of
                specific
                frequencies to shine through gemstones on unique places on the body. The result is a balancing act on a
                deep level.</p>
              <p>Time required: 45-60 minutes</p>
              <p>Cost: SEK 1190</p>
              <p>Contact us for information and booking.</p>
            </div>
          </div>

          <div class="textImgDiv">
            <img src="/img/courses/aroma-therapy.png" alt="Wellness Consultation" class="bigImg">
            <div class="textImgTxt">
              <h3>Maharishi Aromatherapy Consultation</h3>
              <h4 class="courseSubHeader">with Yvonne or Stefan Lagrosen</h4>
              <p>Essential oils are concentrates of solar energy and the power of plants collected in small bottles.
                They
                revive the body's self-healing ability, create balance and strengthen body and soul. The scents activate
                neurotransmitters that increase well-being and reduce stress, anxiety and depression. During the
                consultation, you will receive a pleasant and enjoyable Ved Aroma treatment, and we will select the
                aroma
                oils that suit you best.</p>
              <p>Time required: 45-60 minutes</p>
              <p>Cost: SEK 980</p>
              <p>Contact us for information and booking.</p>
            </div>
          </div>

          <h3>Coming courses</h3>
          <p>No courses in English are planned at the moment. Further information will be posted here in due time.</p>

          <h3>Other courses</h3>
          <p>We offer the following courses in different contexts and they can also be given as company-internal
            courses
            if there is interest</p>
          <p>
            <a href="/pdf/yogacourse.pdf" target="_blank">Maharishi Yoga Asanas</a>
          </p>
          <p>
            <a href="/pdf/Grundkurs.pdf" target="_blank">Introduction to Ayurveda with personal consultation</a>
          </p>
          <p>
            <a href="/pdf/Kvinnokurs.pdf" target="_blank">Maharishi Ayurveda for women’s health</a>
          </p>
          <p>
            <a href="/pdf/Individualiscosmic.pdf" target="_blank">The individual is cosmic</a>
          </p>
          <p>
            <a href="http://tm-meditation.se/" target="_blank">Transcendental Meditation</a>
          </p>
          <p>
            <a href="/pdf/Aromaconsultation.pdf" target="_blank">Consultation in Maharishi Aromatherapy</a>
          </p>
        </div>

      </div>
    </section>
    <footer></footer>
  </main>
  <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>

  {{> scripts}}
</body>

</html>
