<!DOCTYPE html>
<html lang="en">

<head>
  {{> head title="PT Consultation"}}
</head>

<body>
  <main id="main">
    {{> header}}
    <link rel="stylesheet" href="/styles/pt-consulatation.css">
    <section id="mainSection">
      {{> navEN langLink="/PT-konsultation.html"}}
      </div>
      <div id="content">

        <div>
          <h1>Ayurveda PT Consultation</h1>
          <p>A unique consultation combining modern science in exercise and nutrition with the holistic health wisdom of
            Ayurveda.</p>
        </div>

        <div class="textImgDiv">
          <img class="bigImg" src="/img/about/stefan.jpg" alt="Stefan Lagrosen">
          <div class="textImgTxt" style="margin-bottom: 30px"> <!--style!-->
            Dr Stefan Lagrosen is a researcher within work-life health. He is also a licensed personal trainer,
            certified running coach, certified Maharishi yoga asanas teacher and certified Maharishi Ayurveda wellness
            consultant with more than 30 years of personal experience in Ayurveda.
          </div>
        </div>

        <div>
          <div class="ptConsultationIncluded">
            <h3>You will get</h3>
            <ul>
              <li>A personally designed training programme based on Ayurveda and modern science</li>
              <li>Ayurvedic dietary advice based on your personal constitution and any imbalances</li>
              <li>Lifestyle advice for increased well-being and greater performance</li>
            </ul>
          </div>

          <!--FAQ-->
          <div class="ptInfo">
            <h3>Questions and answers</h3>
            <details>
              <summary>
                How does it work?
              </summary>
              <p>You will fill in an online form where you describe your training goals, your health condition etc. Then
                we will have an online call via zoom. Based on that, you will receive a personal training programme and
                advice for diet and lifestyle sent to you.</p>
            </details>
            <details>
              <summary>
                Is it just about training, or is the consultation useful even if I am not interested in training?
              </summary>
              <p>The consultation covers life as a whole, for example, diet and other lifestyle habits, so everyone can
                enjoy the consultation even if they are not particularly interested in exercise. But if you like
                exercise, this is a unique opportunity.</p>
            </details>
            <details>
              <summary>
                What types of training can I have advice about?
              </summary>
              <p>My competency is within strength training (with or without tools), running and yoga. I cannot give
                technical advice in other sports. Nor am I used to training elite athletes; thus, you will have the most
                benefit from the training advice if you are a beginner or intermediate athlete.</p>
            </details>
            <details>
              <summary>
                How much does it cost?
              </summary>
              <p>We apply payment according to ability. The recommended price is €69 incl. VAT. If you have limited
                finances and cannot afford that amount, you simply pay the amount you can afford. If, on the other hand,
                you feel that you can afford to pay more than €69, we would appreciate if you donate the excess as a
                contribution to a school for homeless girls in Thailand that is worth all the support - or to some other
                life-supporting purpose.</p>
              <p>You also have a customer satisfaction guarantee. If for any reason you are not satisfied with the
                consultation you have received, you can within three months request a refund of the fee you have paid,
                and it will then be refunded immediately.</p>
            </details>
            <details>
              <summary>
                How do I book a consultation?
              </summary>
              <a href="mailto:stefan@ayurvedagoteborg.se">Contact Stefan via email</a>
            </details>
            <h5>If you have further questions, get in touch by email, <a href="mailto:stefan@ayurvedagoteborg.se">click
                here</a></h5>
          </div>
        </div>

      </div>
    </section>
    <footer></footer>
  </main>
  <div id="darkFilter" onclick="toggleSmallScreenMenu()"></div>
  {{> scripts}}
</body>

</html>